<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="categorieArticle">
      <h2 data-cy="categorieArticleDetailsHeading">
        <span jhiTranslate="digitaldayApp.categorieArticle.detail.title">Categorie Article</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ categorieArticle.id }}</span>
        </dd>
        <dt><span jhiTranslate="digitaldayApp.categorieArticle.nom">Nom</span></dt>
        <dd>
          <span>{{ categorieArticle.nom }}</span>
        </dd>
        <dt><span jhiTranslate="digitaldayApp.categorieArticle.description">Description</span></dt>
        <dd>
          <span>{{ categorieArticle.description }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/categorie-article', categorieArticle.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
