<div class="row mt-8">
  <div class="d-flex flex-column justify-content-center align-items-center mt-8">
    <jhi-hero-page [account]="account"></jhi-hero-page>

    <div class="py-5 mt-4">
      <div class="text-900 font-bold text-6xl mb-2 text-center">
        <div class="text-900 font-bold text-6xl mb-2 text-center">
          <span class="text-900"> Categories,</span>
          <span class="text-eva">Projets</span>
        </div>
      </div>
      <div class="text-700 text-2xl text-center line-height-3">Découvrez la liste de projets, chantiers en fonction des villes</div>
    </div>

    <section class="col-10">
      <jhi-home-solutions></jhi-home-solutions>
    </section>
  </div>
</div>
