<div class="py-5 mt-4">
  <div class="text-900 font-bold text-6xl mb-2 text-center">
    <span class="text-900">Un CRM </span>
    <span class="text-eva">(Customer Relationship Management)</span>
  </div>
  <div class="text-700 text-2xl text-center line-height-3">
    Un logiciel de CRM permettant de collecter, organiser et analyser les données des clients afin d'optimiser les interactions avec eux et
    de mieux répondre à leurs besoins.
  </div>
</div>

<div class="d-flex justify-content-center align-items-center flex-row flex-wrap">
  <div class="tab-pane tab-example-result fade show active" role="tabpanel" aria-labelledby="card-blockquote-component-tab">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">{{ "Qu'est ce que OTHER SIDE ?".toUpperCase() }}</h3>
        <blockquote class="blockquote mb-0">
          <p>
            Other Side : Íune plateforme digitale pour améliorer le service après-vente et faciliter la gestion clientèle, avec une solution
            simple et efficace, incluant une plateforme d'aide à la décision pour la prédiction boursière.
          </p>
        </blockquote>
      </div>
    </div>
  </div>

  <div class="tab-pane tab-example-result fade show active" role="tabpanel" aria-labelledby="card-blockquote-component-tab">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">{{ 'qui peut utiliser OTHER SIDE ?'.toUpperCase() }}</h3>
        <blockquote class="blockquote mb-0">
          <p>
            Toutes les entreprises souhaitant améliorer la qualité de leur service après-vente, faciliter la gestion de leurs clients et
            prédire le marché boursier peuvent utiliser Other Side.
          </p>
        </blockquote>
      </div>
    </div>
  </div>

  <div class="tab-pane tab-example-result fade show active" role="tabpanel" aria-labelledby="card-blockquote-component-tab">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">{{ 'Pourquoi OTHER SIDE ?'.toUpperCase() }}</h3>
        <blockquote class="blockquote mb-0">
          <p>
            Other Side est une plateforme digitale qui facilite la gestion des clients et améliore le service après-vente grâce à une
            solution simple et efficace. Elle est accessible à toute entreprise souhaitant améliorer son service client et prédire le marché
            boursier.
          </p>
        </blockquote>
      </div>
    </div>
  </div>

  <div class="tab-pane tab-example-result fade show active" role="tabpanel" aria-labelledby="card-blockquote-component-tab">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">{{ "Besoin d'aide ?".toUpperCase() }}</h3>
        <blockquote class="blockquote mb-0">
          <p>
            Si vous avez besoin d'assistance ou de plus d'informations sur notre plateforme "Other Side", n'hésitez pas à nous contacter à
            tout moment. +225 07 89 80 08 20 / +225 05 54 41 99 43 / justin.brou18@inphb.ci
          </p>
        </blockquote>
      </div>
    </div>
  </div>
</div>
